.watchlist-contanier {
	max-width: 1200px;
	margin: 100px auto;
	padding: 16px;
}

.movies-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.section {
	margin-bottom: 10rem;
}

.noMovies {
	text-align: center;
}

.section-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #333;
}
